* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

:root {
    --header-color: white;
    --box-border-bottom: 1px solid #ccc;
    --body-color: white;
    --header-border-bottom: 5px solid #ccc;
    --invert: invert(0%);
    --username: rgb(97, 97, 97);
    --h1: black;
    --like-comment: rgb(97, 97, 97);
    --contentPopularity-box-shadow: 1px 1px 5px 2px #ccc;
    --like-comment-background-color: transparent;
    --like-comment-padding: 0.5rem;
    --like-comment-border-radius: 0;
    --comment-area-h3: #ccc;
    --user-span: white;
}


[data-theme="dark"] {

    --header-color: #1E1E1E;
    --box-border-bottom: none;
    --body-color: #121212;
    --header-border-bottom: 5px solid #121212;
    --invert: invert(100%);
    --username: rgb(168, 168, 168);
    --h1: white;
    --like-comment: rgb(235, 235, 235);
    --contentPopularity-box-shadow: none;
    --like-comment-background-color: rgb(207, 207, 207);
    --like-comment-padding: 0.5rem 1rem;
    --like-comment-border-radius: 10px;
    --comment-area-h3: #1E1E1E;
    --user-span: #3d3d3d;
}

body {
    position: relative;
    background-color: var(--body-color);
}

::-webkit-scrollbar {
    display: none;
}


header {
    background-color: var(--header-color);
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: var(--header-border-bottom);
    z-index: 10;
}

.left h1 {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background: linear-gradient(#662D8C, #ED1E79);
    font-size: 1.2rem;
}

.left h1:hover {
    cursor: pointer;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .write {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    filter: var(--invert);
}

.right .write:hover span {
    border-bottom: 2px solid black;
}

.right .write img {
    width: 1.5rem;
    margin-right: 0.2rem;
}

.right>.user,
.userImage {
    border-radius: 50%;
    /* background-color: gray; */
    height: 50px;
    aspect-ratio: 1/1;
    overflow: hidden;
    padding: 0.3rem;
    position: relative;
}

.right>.user>img,
.userImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    max-width: 750px;
    width: 100%;
}

.content h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--h1);
}

.owner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.3rem 0;
}

.owner>.user {
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.owner .user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.owner .info .name {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.owner .info .name a {
    color: var(--username);
}

.owner .info .name a:hover {
    cursor: pointer;
}

.owner .info .date {
    color: var(--username);
}

.coverImage {
    margin-top: 2rem;
    width: 100%;
}

.coverImage img {
    width: 100%;
}

.text {
    margin-top: 3rem;
    line-height: 2rem;
    font-size: 1.2rem;
    color: var(--h1);
}

code {
    color: black;
    padding: 0.2rem;
    border-radius: 2px;
}

.text img {
    width: 100%;
    height: fit-content;
}

.end {
    width: 100%;
    padding: 2rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.ending {
    height: 0.25rem;
    width: 0.25rem;
    background-color: black;
    border-radius: 50%;
    position: relative;
    filter: var(--invert);
}

.ending::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: black;
}

.ending::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: black;
}

.contentPopularity {
    box-shadow: var(--contentPopularity-box-shadow);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0.2rem 1rem;
    gap: 1rem;
    margin-top: 1rem;
    filter: var(--invert);
}

.contentPopularity div {
    text-decoration: none;
    color: black;
    padding: var(--like-comment-padding);
    background-color: var(--like-comment-background-color);
    border-radius: var(--like-comment-border-radius);
}

.contentPopularity>div:hover {
    cursor: pointer;
}

.likes,
.comment {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    height: 100%;

}

.likes img,
.comment img {
    width: 1.2rem;
}

@media only screen and (max-width:470px) {
    header .left h1 {
        font-size: 1.2rem;
    }
}

pre {
    border-radius: 8px;
}

blockquote {
    border-left: 5px solid #ccc;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #f9f9f9;
    color: #333;
    font-style: italic;
}

ul {
    list-style-type: disc;
    padding-left: 50px;
    margin: 10px 0;
}

/* //comments */
.commentArea {
    padding-top: 2rem;
}

.commentArea>h3 {
    background-color: var(--comment-area-h3);
    margin-top: 1rem;
    padding: 1rem;
    border-left: 5px solid gray;
    color: var(--h1);
}

.currentUserComment {
    width: 100%;
    /* max-height: 5rem; */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.currentUserComment textarea {
    outline: none;
    height: 3rem;
    width: 100%;
    resize: none;
    padding: 1rem;
    border: 2px solid #969696;
    border-radius: 10px;
    overflow: hidden;
}

.currentUserComment textarea:focus,
.currentUserComment textarea:user-valid {
    border-color: skyblue;
}

.currentUserComment .send {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px 1px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 4rem;
    height: 3rem;
    border-radius: 5px;
    padding: 0.5rem;
    filter: var(--invert);
}

.currentUserComment .send:active {
    box-shadow: none;
}

.currentUserComment .send:hover {
    cursor: pointer;
}

.currentUserComment .send img {
    width: 2rem;
}

.allComments {
    display: block;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0.5rem;
}

.singleComment {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.userDetails .userImage img {
    background-color: #ccc;
}

.userComment {
    background-color: var(--comment-area-h3);
    padding: 0.5em;
    border-radius: 8px;
    max-width: 100%;
    color: var(--h1);
}

.userComment .userName {
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

.userComment span {
    background-color: var(--user-span);
    display: block;
    width: 100%;
    padding: 0.5rem;
    height: fit-content;
}

.show {
    display: flex;
    flex-direction: column;
}

.more {
    border: none;
    padding: 1rem;
    border-radius: 8px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px gray;
    width: 100%;
    display: none;
    filter: var(--invert);
}

.more:hover {
    cursor: pointer;
}

.more:active {
    background-color: #f6f6f6;
    scale: 0.98;
}

textarea {
    background-color: filter(var(--h1));
    color: var(--h1);
}


.mode img {
    width: 2rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mode {
    width: 3rem;
    border-radius: 20px;
    height: 2.2rem;
    padding: 0.5rem;
    margin-right: 1rem;
    border: 2px solid black;
    filter: var(--invert);
}

.mode:hover {
    cursor: pointer;
}
