* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

[data-theme="light"] {
    --header-color: white;
    --box-color: rgba(204, 204, 204, 0.178);
    --box-border-bottom: 1px solid #ccc;
    --body-color: white;
    --header-border-bottom: 5px solid #ccc;
    --invert: invert(0%);
    --username: rgb(97, 97, 97);
    --h1: black;
    --like-comment: rgb(97, 97, 97);
    --form-border-top: 10px solid purple;
    --form-shadow: 1px 1px 10px 1px gray;
    --form-border: 3px solid #ccc;
    --submit-color: rgb(0, 148, 207);
    --submit-hover-color: rgb(0, 127, 178);
    --link-color: purple;
}


[data-theme="dark"] {

    --header-color: #1E1E1E;
    --box-color: #1E1E1E;
    --box-border-bottom: none;
    --body-color: #121212;
    --header-border-bottom: 5px solid #121212;
    --invert: invert(100%);
    --username: rgb(142, 142, 142);
    --h1: white;
    --like-comment: rgb(235, 235, 235);
    --form-border-top: 10px solid #ccc;
    --form-shadow: none;
    --form-border: none;
    --submit-color: rgb(78, 78, 78);
    --submit-hover-color: rgb(66, 66, 66);
    --link-color: white;
}

body {
    min-height: 100dvh;
    display: grid;
    place-items: center;
    padding: 1rem;
    background-color: var(--body-color);
}

form {
    border-top: var(--form-border-top);
    max-width: 400px;
    width: 100%;
    padding: 2rem 1.5rem;
    border-radius: 3px;
    background-color: var(--header-color);
    box-shadow: var(--form-shadow);
}

.content {
    position: relative;
    margin: 1rem 0;
}

.content span {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 10px;
    background-color: var(--body-color);
    padding: 0 0.3rem;
    color: rgb(136, 136, 136);
}

h1 {
    text-align: center;
    color: var(--h1);
}

input[type="email"],
input[type="text"],
input[type="password"] {
    border-radius: 5px;
    outline: none;
    padding: 0.8rem 1rem;
    border: var(--form-border);
    width: 100%;
    background-color: var(--body-color);
    color: var(--h1);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:user-valid,
input[type="email"]:user-valid,
input[type="password"]:user-valid {
    border-color: skyblue;
}

input[type="submit"] {
    background-color: var(--submit-color);
    font-size: large;
    font-weight: bold;
    color: white;
    border: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: var(--submit-hover-color);
    cursor: pointer;
}

.register {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.register:hover {
    text-decoration: underline;
}

.success {
    background-color: greenyellow;
    text-align: center;
    border: 3px solid green;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.fail {
    margin-top: 1rem;
    background-color: rgb(255, 84, 84);
    text-align: center;
    border: 3px solid red;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    color: white;
}

.register {
    font-size: 1rem;
    color: var(--link-color);
}