* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

body {
    min-height: 100dvh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



body>h1 {
    margin-top: 1rem;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    width: 100%;
    max-width: 850px;
    background: linear-gradient(135deg, #662D8C, #ED1E79);
}

form {
    margin-top: 2rem;
    width: 100%;
    max-width: 850px;
    padding: 2rem 1.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 5px 1px gray;
}

.content {
    position: relative;
    margin: 1rem 0;
    width: 100%;
}

.content span {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 10px;
    background-color: white;
    padding: 0 0.3rem;
    color: rgb(136, 136, 136);
}

h1 {
    text-align: center;
}

textarea {
    overflow: hidden;
    padding: 1rem 0.2rem;
    resize: none;
}

#content {
    min-height: 300px;
}

#editor-container,
textarea,
input[type="text"] {
    border-radius: 5px;
    outline: none;
    padding: 0.5rem 1rem;
    border: 3px solid #ccc;
    width: 100%;
}

input[type="text"]:focus,
textarea:focus,
#editor-container:focus,
input[type="text"]:user-valid,
#editor-container:user-valid,
textarea:user-valid {
    border-color: skyblue;
}

input[type="submit"] {
    background-color: rgb(0, 148, 207);
    font-size: large;
    font-weight: bold;
    color: white;
    border: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: rgb(0, 127, 178);
    cursor: pointer;
}

input[type="file"] {
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    color: #343a40;
    cursor: pointer;
    width: 100%;
}

.image-preview {
    margin-top: 20px;
    max-width: 300px;
    max-height: 300px;
    border: 2px solid #ccc;
    padding: 10px;
}

#editor-container {
    height: 300px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ql-toolbar.ql-snow {
    width: 100%;
    border: 3px solid #ccc;
    border-bottom: none;
}

.blockRequest {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.647);
    height: 100dvh;
    width: 100%;
    top: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: flex;

    transform: translateY(-100%);
}

.blockRequest img {
    width: 2rem;
    filter: invert(100%);
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0%);
    }

    100% {
        transform: rotate(-360deg);
    }
}