* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
}

header {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    z-index: 10;
}

.left h1 {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background: linear-gradient(#662D8C, #ED1E79);
}

.left h1:hover {
    cursor: pointer;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .write {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.right .write:hover span {
    border-bottom: 2px solid black;
}

.right .write img {
    width: 1.5rem;
    margin-right: 0.2rem;
}

.right>.user,
.userImage {
    border-radius: 50%;
    background-color: gray;
    height: 50px;
    aspect-ratio: 1/1;
    overflow: hidden;
    padding: 0.3rem;
    position: relative;
}

.right>.user>img,
.userImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main section {
    padding: 1rem;
    width: 100%;
    max-width: 600px;
}

main section:last-child {
    border-top: 2px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}


.content {
    position: relative;
    margin: 1rem 0;
}

.content span {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 10px;
    background-color: white;
    padding: 0 0.3rem;
    color: rgb(136, 136, 136);
}

input[type="email"],
input[type="text"] {
    border-radius: 5px;
    outline: none;
    padding: 0.5rem 1rem;
    border: 3px solid #ccc;
    width: 100%;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="email"]:user-valid,
input[type="text"]:user-valid {
    border-color: skyblue;
}

input[type="submit"] {
    background-color: rgb(0, 148, 207);
    font-size: large;
    font-weight: bold;
    color: white;
    border: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: rgb(0, 127, 178);
    cursor: pointer;
}

.logout {
    background-color: red;
    border: none;
    width: 100%;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    margin-top: 1rem;
}

.logout:hover {
    cursor: pointer;
    background-color: rgb(210, 1, 1);
}

.register {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.register:hover {
    text-decoration: underline;
}

.success {
    background-color: greenyellow;
    text-align: center;
    border: 3px solid green;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.fail {
    margin-top: 1rem;
    background-color: rgb(255, 84, 84);
    text-align: center;
    border: 3px solid red;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    color: white;
    margin-bottom: 2rem;
}

.imgContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#file {
    position: absolute;
    top: 0%;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    opacity: 0;
}

.image-preview {
    height: 7rem;
    width: 7rem;
    border: 5px solid #adadad;
    border-radius: 50%;
    object-fit: cover;
}

#file:hover {
    cursor: pointer;
}

form {
    padding: 1rem;
    margin-top: 1rem;
}

main section:last-child h2 {
    margin-bottom: 1rem;
}

table {
    width: 100%;
    max-width: 535px;
}

table,
th,
tr,
td {
    border-collapse: collapse;
    border: 1px solid gray;
}

td {
    padding: 1rem;
    height: max-content;
}

th {
    background-color: rgb(102, 212, 255);
    padding: 1rem;
}

.options {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100%;
    width: 100%;
    gap: 1rem;
}


.options a,
.options div {
    background-color: #e4e4e4;
    border-radius: 8px;
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
}

.options a img,
.options div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.options div:hover {
    cursor: pointer;
}

.deletionSure {
    background-color: white;
    z-index: 120;
    position: fixed;
    top: 0;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 2rem;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    left: 50%;
    transform: translate(-50%, -100%);
    overflow: hidden;
    transition: top 1s ease;
}

.invoke {
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 20px 5px black;
}

.deletionSure p {
    font-size: 1.2rem;
}

.deletionSure .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.deletionSure a {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.deletionSure a:first-child {
    background-color: red;
}

.deletionSure a:last-child {
    background-color: green;
}

@media only screen and (max-width:470px) {
    header .left h1 {
        font-size: 1.2rem;
    }
}

.blockRequest {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.647);
    height: 100dvh;
    width: 100%;
    top: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: flex;

    transform: translateY(-100%);
}

.blockRequest img {
    width: 2rem;
    filter: invert(100%);
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0%);
    }

    100% {
        transform: rotate(-360deg);
    }
}